@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-mint-500: oklch(0.72 0.11 178);
  --color-neon: rgb(24, 217, 188);
  --color-neon-secondary: rgb(7, 184, 157);
  --color-neon-dark: rgb(11, 107, 93);
}

.intro-link {
  @apply hover:text-neon-secondary dark:hover:text-neon font-bold text-slate-900 transition-colors duration-200 dark:text-zinc-200;
}

.nav-link {
  @apply relative pl-10 text-sm text-slate-700 uppercase transition-all duration-300 ease-in-out before:absolute before:top-1/2 before:left-0 before:h-px before:w-8 before:-translate-y-1/2 before:bg-slate-700 dark:text-zinc-400 dark:before:bg-zinc-400;
}

.nav-link::before {
  @apply origin-left transition-all duration-300 ease-in-out;
}

.nav-link.active {
  @apply pl-20 font-bold text-black before:bg-black dark:text-white dark:before:bg-white;
}

.nav-link.active::before {
  @apply scale-x-200;
}

.exp-title:hover span svg {
  @apply translate-x-0.5 -translate-y-0.5;
}
